body {
    color: #212121;
    background-color: rgb(239,242,254);
    margin: 0;
    padding: 0; 
    text-align: center;
    font-family: 'Comic Sans MS', 'Times New Roman', Times, serif;
}

h1 {
    color: #EEEEEE;
}

header {
    background-color: #212121;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#searchInput {
    padding: 8px;
    width: 200px;
    margin-top: 10px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 5px; */
}

.gallery-item {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center text */
    margin: 15px; /* Add margin around each item */
    border: 1px solid #212121; /* Add border around each item */
    border-radius: 5px; /* Optional: round the corners of the border */
    padding: 10px; /* Optional: add some space between the border and the content */
}

.gallery-item img {
    justify-content: center;
    width: 100%; /* Make the image take up the full width of the .gallery-item */
    height: auto;
    max-width: 300px; /* Limit the maximum width */
    max-height: 300px; /* Limit the maximum height */
}

.gallery-item p {
    margin-top: 10px; /* Add some space between the image and text */
}

#copied-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
nav {
    background-color: #212121;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px; /* Adjust the padding as needed */
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

nav a {
    color: #EEEEEE;
    text-decoration: none;
    padding: 7px;
}

nav a.active {
    color: #ff6347; /* Change this to the color you want */
}

#index-page  {
    background-image: url('gary-one-hunnit.png');
    background-repeat: repeat;
    background-size: 20% auto;
}
#contact-page{
    background-image: url('gary-one-hunnit.png');
    background-repeat: repeat;
    background-size: 20% auto;
}